<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="./course_feedback_apiTFA/res/mipmap-hdpi/TFA.png" />
</head>
<body>

<div class="container-fluid" v-if="!isLoading">
    <div class="row"><h1><%= title %></h1>
        <p style="margin-left: 10px;">Welcome to <%= title %></p>
    </div>
    <div class="row" style="margin-top: 20px;">

        <span class="label label-default">GET</span> <code>http://students.iitm.ac.in/course_feedback_api/read/aE</code>
        <div class="well" style="margin-top: 10px;">[{"_ID":1,"branch":"AE","slot":"A","additional_slot":"","course_number":"AS1300","course_name":"Thermodynamics for Aerospace Engineering","instructor_name":"RAMAKRISHNA P A","old_credit":0,"new_credit":11,"room":"","prerequisite":"","coordinater":"Y","c_c_chairperson":"Senthil Murugan M","strength":58,"allocation_type":"CG"},]</div>
    </div>
    <div class="row" style="margin-top: 20px;">

        <span class="label label-default">GET</span> <code>students.iitm.ac.in/course_feedback_api/read/cS1100</code>
        <div class="well" style="margin-top: 10px;">"[{"_ID":16,"branch":"CS","slot":"F","additional_slot":"","course_number":"CS1100","course_name":"Introduction to Programming","instructor_name":"JAYALAL SARMA M N","old_credit":3,"new_credit":12,"room":"RJN102","prerequisite":"","coordinater":"Y","c_c_chairperson":"Chandra Sekhar C","strength":161,"allocation_type":"CG"},]</div>
    </div>
    <div class="row" style="margin-top: 20px;">

        <span class="label label-default">POST</span> <code>students.iitm.ac.in/course_feedback_api/create/</code>
    </div>
    <div class="well" style="margin-top: 10px;">{
        "course_ID" : 13,
        "feedback" : "very nice story teller!",
        "time" : 1520790480
        }</div>
</div>
</body>
<script type="text/javascript">

    download_css('./course_feedback_api/stylesheets/style.css');
    download_css('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
    function download_css(src) {
        var giftofspeed = document.createElement('link');
        giftofspeed.rel = 'stylesheet';
        giftofspeed.href = src;
        giftofspeed.type = 'text/css';
        var godefer = document.getElementsByTagName('link')[0];
        godefer.parentNode.insertBefore(giftofspeed, godefer);
    }



    download_js("https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js");
    download_js("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js");
    download_js("./course_feedback_api/javascripts/main.js");
    function downloadJSAtOnload(src) {
        var element = document.createElement("script");
        element.src = src;
        document.body.appendChild(element);
    }
    function download_js(src) {
        if (window.addEventListener){
            window.addEventListener("load", downloadJSAtOnload(src), false);
        }
        else if (window.attachEvent){
            window.attachEvent("onload", downloadJSAtOnload(src));
        }
        else window.onload = downloadJSAtOnload(src);
    }

</script>
</html>
